<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="bi bi-fire" style="font-size: 7rem;"></i>
    <h1 class="display-3">You've Get away with It!</h1>

    <% userWithSecrets.forEach(function(user){ %>
      <p class="evilIdea-text bg-dark"><%=user.secret%></p>
    <% }) %>

    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">A New Bad Idea</a>
  </div>
</div>

<%- include('partials/footer') %>
