<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="bi bi-fire" style="font-size: 7rem;"></i>
    <h1 class="display-3">Burn after Typing</h1>
    <p class="lead">Don't afraid your evil thoughts and don't suppress them in your heart.</p>
    <p class="evilIdea-text bg-dark">Enter them here and they will burn.</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your current evil idea?">
      </div>
      <button type="submit" class="btn btn-dark">Record</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
